/* Global Page Styling */
body
{
    font-family: Arial,sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Header and footer */
header,footer
{
    text-align: center;
    background-color: #222;
    color: #fff;
    padding: 15x 0;
}

/* Section styling */
section
{
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

/* Heading */
h1
{
    color: #f4f4f4;
}
h2
{
    color: #111;
}